---
---

$primary-green: #118730;
$primary-blue: #022550;

// Breakpoints
// $large-breakpoint: 64em;
// $medium-breakpoint: 42em;

// Headers
$header-heading-color: #fff;
$header-bg-color: darken($primary-green, 30%);
$header-bg-color-secondary: $primary-blue;

// Text
$section-headings-color: $primary-green;
// $body-text-color: #606c71;
$body-link-color: lighten($primary-blue, 10%);
// $blockquote-text-color: #819198;

// Code
// $code-bg-color: #f3f6fa;
// $code-text-color: #567482;

// Borders
$border-color: $primary-blue;
// $table-border-color: #e9ebec;
// $hr-border-color: #eff0f1;


@import "{{ site.theme }}";

.bold {
  font-weight: bold;
}

.button {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.symbol {
  font-size: 120%;
  line-height: 100%;
}
.primary {
  color: rgba(255, 255, 255, 1);
  background-color: fade-out($section-headings-color, 0.1);
  border-color: rgba(255, 255, 255, 0.2);

  &:hover {
    text-decoration: none;
    background-color: $section-headings-color;
    border-color: rgba(255, 255, 255, 0.3);
  }
}

.reversed {
  color: $section-headings-color;
  border-color: fade-out($section-headings-color, 0.1);
  background-color: white;

  &:hover {
    text-decoration: none;
    background-color: fade-out($section-headings-color, 0.95);
    border-color: $section-headings-color;
  }
}

.inline {
  color: $section-headings-color;
  border-color: white;
  background-color: white;
  padding: 0 0.3rem;
 
  &:hover {
    text-decoration: none;
    background-color: fade-out($section-headings-color, 0.95);
    border-color: $section-headings-color;
  }
}

// review quotes and popups
.review {
  border-left: 10px solid $primary-green;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: inherit;
  cursor: pointer;

  @include small {
    margin: 1rem 0;
    padding: 1rem;
  }
  @include medium {
    margin: 2rem 0rem 2rem 0;
    padding: 1rem;
  }
  @include large {
    margin: 2rem 6rem 2rem 0;
    padding: 1rem;
  }

  &:hover {
    background-color: rgba($primary-green, .05);
  }

  &:nth-child(even) {
    border-right: 10px solid $primary-green;
    border-radius: 0 0.5rem 0.5rem 0;
    margin: 2rem 0 2rem 6rem;
    text-align: right;
    border-left: none;
  }
}
.review-author {
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 1rem !important;
}

.review-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;

.review-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  a-ms-transform: translate(-50%,-50%);
  width: 60%;
  max-height: 90%;
  overflow-y: scroll;
  background-color: white;
  text-align: left;
  padding: 3rem;

  @include small {
  width: 95%
  }
  @include medium {
  width: 80%;
  }
  @include large {
  }
}
}

.byline {
  font-size: 0.9rem;
  color: #8899a0;
}

.head-image, .featured-image {
  float: left;
  margin-right: 20px;
  margin-top: 1.5rem !important;
  border-radius: 0.3rem;
}

.featured-post-link {
  color: $body-text-color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

.bio-pic {
  float: right;
  margin-left: 20px;
  margin-top: 1.5rem;
  border-radius: 0.3rem;
}

.head-image {
  @include small {
    width: 100px;
  }
  @include medium {
    width: 150px;
  }
  @include large {
    width: 200px;
  }
}

.featured-image {
  @include small {
    width: 100px;
  }
  @include medium {
    width: 100px;
  }
  @include large {
    width: 150px;
  }
}

.readmore {
  atext-transform: uppercase;
  font-size: .9rem;
}

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image:url('../images/GrowingMoneyDark.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  border-top: 5px solid $primary-blue;
  border-bottom: 10px solid $primary-blue;

  @include large {
    padding: 3rem 4rem;
  }

  @include medium {
    padding: 2rem 1rem;
  }

  @include small {
    padding: 1rem 0.5rem;
  }
}

.main-content, .aside-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 3rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    color: $section-headings-color;
    a {
      color: $section-headings-color;
    }
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }


  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }

}

.aside-content{
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    padding-bottom: 1.2rem;
  }

  @include large {
    padding-left: 0rem;
    flex: 0 0 400px;
  }

  @include medium {
    padding-left: 0rem;
    flex: 0 0 200px;
  }

  @include small {
    display: none;
  }
}

.article-list {
  h3 {
    margin-top: 0.5rem;
  }
}

.patreon-button {
  @include large {
    padding-bottom: 1rem;
  }

  @include medium {
    padding-bottom: 0.5rem;
  }

  @include small {
    padding-bottom: 1rem;
  }
}

/* MailChimp Form styling */
#mc_wrap {
  border-top: 5px solid $border-color;
  border-bottom: 5px solid $border-color;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#mc_embed_signup {

  .mc-field-group, .indicates-required {
    padding-bottom: 1rem;
  }

  .indicates-required {
    font-size: 0.8rem;
  }

  .asterisk {
    color: red;
  }
  form {
  overflow: hidden;
  }
  input {
    float: right;
    clear: both;
  }

}

.site-footer {
  @include large {
    padding-top: 2rem;
    margin: 2rem 6rem;
  }
  @include medium {
    padding-top: 1rem;
    margin: 1rem 3rem;
  }
  @include small {
    padding-top: 1rem;
    margin: 1rem 1rem;
  }
}

nav {
  li {
    display: inline;
    list-style-type: none;
    padding:0px;
    &:not(:first-child):before {
        content: " | ";
      }
    }
  a {
    color: $header-heading-color;
    font-size: 1.1rem;    
  }
}

/* Flexgrid layout */
.main-area {
  display: flex;

  @include small {
    display: block;
  }
}

main {
  flex: 2;
}
