---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <summary class="byline">
    {{ page.author }} - 
    {{ page.date | date: "%-m/%-d/%y"}}
    <br>
  </summary>

  <article class="post-content">
    <img class="head-image" src="{{ basesite.url }}/assets/images/{{ page.image }}" />

    {{ content | replace: '<!--more-->', '<a class="anchor" id="read-more"></a>' }}
  </article>


  <footer class="article-footer">
  <div id="blogfooter">
    {% include blogfooter.md %}
  </div>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_wrap">
    {% include mailchimp-weekly.md %}
  </div>
  <!--End mc_embed_signup-->


  <h3>About the author</h3>
  {% include bio-marketing.md %}
  </footer>
</div>