---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <summary class="byline">
    {{ page.author }} - 
    {{ page.date | date: "%-m/%-d/%y"}}
    <br>
  </summary>

  <article class="post-content">
    {{ content | replace: '<!--more-->', '<a class="anchor" id="read-more"></a>' }}
  </article>


  <footer class="article-footer">
  	<h3>About the author</h3>
  	{% include bio-marketing.md %}
  </footer>
</div>